* {
  margin: 0px;
  padding: 0px;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: red;
}

p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}

h1 {
  font-size: 200%;
  font-family: lucid console, monaco, monospace;
  text-align: center;
}


nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav ul li {
  list-style-type: none;
}
nav a {
  font-weight: bold;
  color: red;
  font-family: lucid console, monaco, monospace;
  font-size: 100%;
}

nav a:hover {
  color: beige;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: red;
}


#about{
  width: 100%;
  background-color: red;
  background-position: center;
}

#about img {
  border-radius: 8px;
  width: 25%;
}

#work {
  width: 100%;
  background-color: red;
  background-position: center;
}

#contact {
text-align: \;
}


.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 25%;
}

.card img {
  width: 100%;
}

